.conteiner-form{
    display: flex;
    align-items:center;
    padding: 20px;
}
.conteiner-form img{
    width: 50%;
    height: 500px;
    margin-right: 20px;
}

.conteiner-form form{
width: 50%;
height: 400px;
}